-----------------------------------------------------------------------
--  LeetCode 1076. Project Employees II
--  Easy
--
--  SQL Schema
--
--  Table: Project
--  
--  +-------------+---------+
--  | Column Name | Type    |
--  +-------------+---------+
--  | project_id  | int     |
--  | employee_id | int     |
--  +-------------+---------+
--  (project_id, employee_id) is the primary key of this table.
--  employee_id is a foreign key to Employee table.
--
--  Table: Employee
--
--  +------------------+---------+
--  | Column Name      | Type    |
--  +------------------+---------+
--  | employee_id      | int     |
--  | name             | varchar |
--  | experience_years | int     |
--  +------------------+---------+
--  employee_id is the primary key of this table.
-- 
--  Write an SQL query that reports all the projects that have the most 
--  employees.
--
--  The query result format is in the following example:
--
--  Project table:
--  +-------------+-------------+
--  | project_id  | employee_id |
--  +-------------+-------------+
--  | 1           | 1           |
--  | 1           | 2           |
--  | 1           | 3           |
--  | 2           | 1           |
--  | 2           | 4           |
--  +-------------+-------------+
--  
--  Employee table:
--  +-------------+--------+------------------+
--  | employee_id | name   | experience_years |
--  +-------------+--------+------------------+
--  | 1           | Khaled | 3                |
--  | 2           | Ali    | 2                |
--  | 3           | John   | 1                |
--  | 4           | Doe    | 2                |
--  +-------------+--------+------------------+
--
--  Result table:
--  +-------------+
--  | project_id  |
--  +-------------+
--  | 1           |
--  +-------------+
--  The first project has 3 employees while the second one has 2.
--------------------------------------------------------------------
SELECT
    project_id
FROM
(
    SELECT
        project_id, 
        employees, 
        RANK() OVER (ORDER BY employees DESC) AS Rank
    FROM
    (
        SELECT project_id, COUNT(employee_id) AS employees
        FROM Project
        GROUP BY project_id
    ) AS T
) AS T
WHERE Rank = 1
;
