-----------------------------------------------------------------------
--  LeetCode 613. Shortest Distance in a Line
--  
--  Easy
--
--  SQL Schema
--  Table point holds the x coordinate of some points on x-axis in a plane, 
--  which are all integers.
--
--  Write a query to find the shortest distance between two points in these 
--  points.
--  | x   |
--  |-----|
--  | -1  |
--  | 0   |
--  | 2   |
-- 
--
--  The shortest distance is '1' obviously, which is from point '-1' to '0'. 
--  So the output is as below:
-- 
--  | shortest|
--  |---------|
--  | 1       |
-- 
--  Note: Every point is unique, which means there is no duplicates in table 
--  point.
--  Follow-up: What if all these points have an id and are arranged from the 
--  left most to the right most of x axis?
----------------------------------------------------------------
WITH x_axis (id, x) AS 
(
    SELECT
        ROW_NUMBER() OVER (ORDER BY x) AS id,
        x
    FROM
        point
)

SELECT
    MIN(distance) AS shortest
FROM 
(
    SELECT 
        B.x - A.x AS distance
    FROM
        x_axis AS A
    INNER JOIN
        x_axis AS B 
    ON 
        A.id + 1 = B.id
) AS A
